/**************************
PARTIALS
**************************/

@import 'home';
@import 'blog';
@import 'shop';

/**************************
GLOBAL
**************************/

h1, h2, h4, h4, p {
  margin: 0;
}

.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}

@for $i from 1 through 5 {
  .margin-bottom-#{$i*5} {
    margin-bottom: $i * 5px !important;
  }
  .margin-top-#{$i*5} {
    margin-top: $i * 5px !important;
  }
  .margin-left-#{$i*5} {
    margin-left: $i * 5px !important;
  }
  .margin-right-#{$i*5} {
    margin-bottom: $i * 5px !important;
  }
}

// COLORS

$off-black: #1f1f1f;
$off-white: #eee;

.main-wrapper {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

html {
  position: relative;
}

body {
  height: 100%;
  width: 100%;
}

.page-content-wrapper {
  margin-top: 50px;
  padding: 0 15px;
}

/**************************
Fixed-Nav
**************************/

.fixed-nav-top {
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  background-color: whitesmoke;
  .fixed-nav-left {
    float: left;
    position: absolute;
    left: 150px;
    .fixed-nav-button-wrap {
      display: inline-block;
      width: 100px;
      text-align: center;
      padding: 15px 0;
      .fixed-nav-button-link {
        color: #1f1f1f;
      }
    }
  }
  .fixed-logo-left {
    position: absolute;
    left: 0;
    width: 150px;
    float: left;
    height: 50px;
  }
  .fixed-nav-search-wrap {
    float: right;
    width: 200px;
  }
}
